name: Deploy to Production

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Setup AWS Credentials
        uses: aws-actions/configure-aws-credentials@v5
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}
      
      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2
      
      - name: Build, tag, and push front image to Amazon ECR
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          ECR_REPOSITORY: ${{ secrets.FRONT_REPOSITORY_URL }}
          IMAGE_TAG: ${{ github.sha }}
        run: |
          echo "Building Docker image for production..."
          # build with both a unique tag (commit SHA) and latest
          docker build -t $ECR_REPOSITORY:$IMAGE_TAG -t $ECR_REPOSITORY:latest .

          echo "Pushing image tags to Amazon ECR..."
          docker push $ECR_REPOSITORY:$IMAGE_TAG
          docker push $ECR_REPOSITORY:latest
      
      - name: Deploy infrastructure with Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.5.6

      - name: Apply Terraform configuration
        env:
          AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
          AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          TF_VAR_aws_region: ${{ secrets.AWS_REGION }}
          TF_VAR_project_name: portfolio-rk
          TF_VAR_image_tag: ${{ github.sha }}
          TF_VAR_cms_domain_name: ${{ secrets.CMS_DOMAIN_NAME }}
          TF_VAR_cdn_domain_name: ${{ secrets.CDN_DOMAIN_NAME }}
          TF_VAR_api_gateway_vpclink_id: ${{ secrets.API_GATEWAY_VPCLINK_ID }}
          TF_VAR_ecs_cluster_id: ${{ secrets.ECS_CLUSTER_ID }}
          TF_VAR_ecs_lb_arn: ${{ secrets.ECS_LB_ARN }}
          TF_VAR_ecs_role_arn: ${{ secrets.ECS_ROLE_ARN }}
          TF_VAR_front_repository_url: ${{ secrets.FRONT_REPOSITORY_URL }}
          TF_VAR_security_group_ids: ${{ secrets.SECURITY_GROUP_IDS }}
          TF_VAR_subnet_ids: ${{ secrets.SUBNET_IDS }}
          TF_VAR_vpc_cidr_block: ${{ secrets.VPC_CIDR_BLOCK }}
          TF_VAR_vpc_id: ${{ secrets.VPC_ID }}
        run: |
          cd infra
          terraform init
          terraform apply -auto-approve
